body{
    font-family: Roboto;
    background-image: url(fundo.webp);
}

.title{
    position: relative;
    display: flex;
    font-family: Roboto;
    color: white;
}

.imagem{
    margin-left: auto;
}

.content{
    background-color: white;
    width: 400px;
    height: 600px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline;
    text-align: center;
}

form{
    font-family: Roboto;
    border-collapse: collapse;
    width: 100%;
}

table{
    font-family: Roboto, Arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td,th{
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

tr:ntd-child(even){
    background-color: #ddd;
}